<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Native ToDo App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Cloud ToDo App</h1>

        <form class="ui form" action="/create" method="post" enctype="multipart/form-data">
            
            <div class="field">
                <label>Todo Title (Will be Encrypted)</label>
                <input type="text" name="title" placeholder="Enter task..." required>
            </div>

            <div class="field">
                <label>Image (Will be Compressed)</label>
                <input type="file" name="file" accept="image/*">
            </div>

            <button class="ui blue button" type="submit">Add Item</button>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="ui segment">
            <h3 class="header">{{ todo.caption }}</h3>

            {% if todo.status == 'completed' %}
                <img src="{{ todo.compressed_image_url }}" class="ui medium rounded image">
            
            {% elif todo.status == 'processing' %}
                <div class="ui active centered inline loader"></div>
                <p style="text-align:center; color:grey;">Compressing...</p>
            
            {% endif %}

            <div style="margin-top: 10px;">
                <a href="/update/{{ todo.id }}" class="ui button {{ 'green' if todo.complete else '' }}">
                    {{ 'Completed' if todo.complete else 'Mark Complete' }}
                </a>
                <a href="/delete/{{ todo.id }}" class="ui red button">Delete</a>
            </div>
        </div>
        {% endfor %}

    </div>
</body>

</html>